<%= image_tag 'logo.png' %>
<p>Howdy.</p>
<ul>
<% @posts_with_videos.each do |post| %>
	<li>
		<ul>
			<li><%= image_tag profile_pic_url(post["from"]["id"]) %></li>
			<li><%= post["from"]["name"] %> said "<%= post["message"] %>" <%= time_ago_in_words(post["created_time"]) %> ago.</li>
			<li><%= video_embed_tag(post["link"]).html_safe %></li>
			<% unless post["comments"]["count"] == 0 %>
				<li>
					<ul>
						<% post["comments"]["data"].each do |comment| %>
							<li><%= image_tag profile_pic_url(comment["from"]["id"]) %></li>
							<li><%= comment["from"]["name"] %> said "<%= comment["message"] %>" <%= time_ago_in_words(post["created_time"]) %> ago.</li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
<% end %>
</ul>